@use "../abstracts" as *;

%other {
  .clock, .volume, .battery, .settings, .notifications {
    font-size: small;
    font-weight: bold;
    padding: 0 calc($spacing-sm * 1.6);
  }

  .clock {
    $transition-timing: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform $transition-timing;
  }

  .tray {
    .toggle {
      padding: 0 calc($spacing-sm * 2);
    }

    .menu {
      margin: 10px 0;

      contents {
        color: $foreground;
        background-color: $background;
        @include overlay-border($color14, 1px);
      }
    }
  }
}